* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

.navbar {
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 5px 0 10px black;

    a {
        text-decoration: none;
        color: black;
        padding: 10px 20px;
    }
}

.hero {
    background: #000 url('https://www.w3schools.com/w3images/hamburger.jpg') no-repeat center/cover;
    height: 90vh;

    display: flex;
    align-items: end;

    h1 {
        font-size: 50px;
    }
}


.about {
    display: flex;

    width: 80%;
    margin: 2em auto;

    img {
        width: 100%;
        height: 600px;
    }

    .text-center {
        text-align: center;
    }
    div {
        h1 {
            /* font-size: 50px; */
        }
        p {
            margin: 2em;
            letter-spacing: 2px;
            text-align: justify;

        }
    }
}

footer {
    padding: 4em;
    text-align: center;
    background: #000;
    color: white;
}